USE [master]
GO
/****** Object:  Database [ventas_sqlserver_bi]    Script Date: 21/07/2025 11:02:13 a. m. ******/
CREATE DATABASE [ventas_sqlserver_bi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ventas_sqlserver_bi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ventas_sqlserver_bi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ventas_sqlserver_bi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ventas_sqlserver_bi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ventas_sqlserver_bi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ventas_sqlserver_bi]
GO
/****** Object:  User [hector_user]    Script Date: 21/07/2025 11:02:13 a. m. ******/
CREATE USER [hector_user] FOR LOGIN [hector_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hector_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [hector_user]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 21/07/2025 11:02:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[ciudad] [nvarchar](50) NULL,
	[segmento] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 21/07/2025 11:02:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[categoria] [nvarchar](50) NULL,
	[precio_unitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 21/07/2025 11:02:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NULL,
	[id_cliente] [int] NULL,
	[fecha] [date] NULL,
	[cantidad] [int] NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [segmento]) VALUES (1, N'Comercial XYZ', N'Bogotá', N'Corporativo')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [segmento]) VALUES (2, N'Tienda La 15', N'Medellín', N'Retail')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [segmento]) VALUES (3, N'Almacén El Éxito', N'Cali', N'Distribuidor')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre], [categoria], [precio_unitario]) VALUES (1, N'Arroz Premium 1Kg', N'Granos', CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[productos] ([id_producto], [nombre], [categoria], [precio_unitario]) VALUES (2, N'Frijol Rojo 500g', N'Granos', CAST(2800.00 AS Decimal(10, 2)))
INSERT [dbo].[productos] ([id_producto], [nombre], [categoria], [precio_unitario]) VALUES (3, N'Aceite Girasol 1L', N'Aceites', CAST(9000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [fecha], [cantidad], [total]) VALUES (1, 1, 1, CAST(N'2024-06-01' AS Date), 10, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [fecha], [cantidad], [total]) VALUES (2, 2, 2, CAST(N'2024-06-02' AS Date), 5, CAST(14000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [fecha], [cantidad], [total]) VALUES (3, 3, 3, CAST(N'2024-06-03' AS Date), 2, CAST(18000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
USE [master]
GO
